* {
  font-family: "Freeman", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator--container {
  border-radius: 20px;
  padding: 10px;
  width: 330px;
  height: 340px;
  background-color: #d3d3d333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.calculator--display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  padding-right: 20px;
  color: white;
  background-color: black;
  width: 100%;
  height: 70px;
  font-size: 24px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  user-select: none;
}

.calculator--buttons {
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 5px;
}

.button--numbers {
  background-color: rgb(247, 80, 30);
  color: white;
}
.button--numbers:hover {
  background-color: rgb(255, 131, 94);
}
.button--numbers:active {
  background-color: rgb(219, 61, 13);
}

.button--operations {
  background-color: #33333311;
  color: black;
}
.button--operations:hover {
  background-color: #74747411;
}
.button--operations:active {
  background-color: #24242411;
}

.add {
  grid-column: 4/5;
  grid-row: 1/2;
}

.substract {
  grid-column: 5/6;
  grid-row: 1/2;
}

.multiply {
  grid-column: 4/5;
  grid-row: 2/3;
}

.divide {
  grid-column: 5/6;
  grid-row: 2/3;
}

.equal {
  grid-column: 4/5;
  grid-row: 3/4;
}

.CE {
  grid-column: 5/6;
  grid-row: 3/4;
}

.zero {
  grid-column: 2/3;
}
